absl-py==1.4.0
amqp==5.0.9
anyio==3.7.0
anyjson==0.3.3
anytree==2.8.0
appdirs==1.4.4
apturl==0.5.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.5.2
asttokens==2.1.0
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.1.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
beniget==0.4.1
bigtree==0.9.2
billiard==3.6.4.0
binaryornot==0.4.4
bleach==6.0.0
blinker==1.4
boto3==1.24.71
boto3-stubs==1.24.71
botocore==1.27.96
botocore-stubs==1.29.146
Brlapi==0.8.3
Brotli==1.0.9
bs4==0.0.1
cachetools==5.3.1
celery==5.2.7
certifi==2020.6.20
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.0.6
click==8.0.3
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
command-not-found==0.3
contextlib2==21.6.0
cookiecutter==2.1.1
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.4.8
cupshelpers==1.0
cycler==0.11.0
Cython==0.29.35
DateTime==5.1
dbus-python==1.2.18
debugpy==1.6.3
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
distlib==0.3.6
distro==1.7.0
distro-info===1.1build1
Django==4.0.7
django-ckeditor==6.5.1
django-cleanup==7.0.0
django-contrib-comments==2.2.0
django-cors-headers==3.13.0
django-debug-toolbar==4.1.0
django-environ==0.9.0
django-extensions==3.2.1
django-filter==22.1
django-js-asset==2.0.0
django-resized==1.0.2
django-rest-framework==0.1.0
django-storages==1.13.1
django-stubs==1.12.0
django-stubs-ext==4.2.1
django-timezone-field==5.0
django-widget-tweaks==1.4.12
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.2
djangorestframework-stubs==1.7.0
docutils==0.20.1
drf-jwt==1.19.2
drf-spectacular==0.24.2
duplicity==0.8.21
entrypoints==0.4
ephem==4.1.3
exceptiongroup==1.1.1
executing==1.2.0
factory-boy==3.2.1
Faker==15.1.1
fasteners==0.14.1
fastjsonschema==2.17.1
filelock==3.8.0
flake8==5.0.4
flatbuffers==23.5.26
fonttools==4.29.1
fqdn==1.5.1
fs==2.4.12
future==0.18.2
gast==0.4.0
google-auth==2.20.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.54.2
h5py==3.9.0
html5lib==1.1
httpie==2.6.0
httplib2==0.20.2
idna==3.3
importlib-metadata==4.6.4
inflection==0.5.1
iniconfig==2.0.0
ipdb==0.13.9
ipykernel==6.17.1
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==8.0.6
isoduration==20.11.0
itypes==1.2.0
jax==0.4.12
jedi==0.18.1
jeepney==0.7.1
Jinja2==3.1.2
jinja2-time==0.2.0
jmespath==1.0.1
jsonpointer==2.4
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter_client==7.4.7
jupyter_core==5.3.1
jupyter_server==2.6.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
keyring==23.5.0
kiwisolver==1.3.2
kombu==5.2.3
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
libclang==16.0.0
lockfile==0.12.2
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
mailchimp-transactional @ git+https://github.com/mailchimp/mailchimp-transactional-python.git@32aa78467f1b71d48d7b417f02d13bd97d1a6855
Mako==1.1.3
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.5.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mistune==3.0.1
ml-dtypes==0.2.0
monotonic==1.6
more-itertools==8.10.0
mpmath==0.0.0
mypy==0.971
mypy-extensions==1.0.0
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.6.0
nbformat==5.9.0
nest-asyncio==1.5.6
netifaces==0.11.0
notebook==6.5.4
notebook_shim==0.2.3
numpy==1.23.5
oauthlib==3.2.0
olefile==0.46
opt-einsum==3.3.0
overrides==7.3.1
packaging==21.3
pandas==2.0.0
pandocfilters==1.5.0
paramiko==2.9.3
parso==0.8.3
persepolis==3.2.0
persiantools==3.0.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
pkginfo==1.9.6
platformdirs==2.5.4
pluggy==1.0.0
ply==3.11
prometheus-client==0.17.0
prompt-toolkit==3.0.32
protobuf==4.23.3
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycairo==1.20.1
pycodestyle==2.9.1
pycparser==2.21
pycryptodomex==3.11.0
pycups==2.0.1
pydot==1.4.2
pyflakes==2.5.0
Pygments==2.13.0
PyGObject==3.42.1
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pyparsing==3.0.9
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyRFC3339==1.1
pyrsistent==0.19.3
PySocks==1.7.1
pytest==7.2.0
pytest-django==4.5.2
python-apt==2.4.0+ubuntu1
python-crontab==2.7.1
python-dateutil==2.8.2
python-debian===0.1.43ubuntu1
python-json-logger==2.0.7
python-memcached==1.58
python-resources==0.3
python-slugify==8.0.1
pythran==0.10.0
pytz==2022.1
pyxattr==0.7.2
pyxdg==0.27
PyYAML==5.4.1
pyzmq==24.0.1
qtconsole==5.4.3
QtPy==2.3.1
readme-renderer==40.0
reportlab==3.6.8
requests==2.25.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rich==13.4.2
rsa==4.9
s3transfer==0.6.1
scipy==1.8.0
SecretStorage==3.3.1
Send2Trash==1.8.2
setproctitle==1.2.2
six==1.16.0
sniffio==1.3.0
soupsieve==2.3.1
speedtest-cli==2.1.3
sqlparse==0.4.3
stack-data==0.6.1
sympy==1.9
systemd-python==234
tensorboard==2.12.3
tensorboard-data-server==0.7.1
termcolor==2.3.0
terminado==0.17.1
text-unidecode==1.3
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tornado==6.2
traitlets==5.9.0
twine==4.0.2
types-awscrt==0.16.19
types-Markdown==3.4.2.9
types-pytz==2023.3.0.0
types-PyYAML==6.0.12.10
types-requests==2.31.0.1
types-s3transfer==0.6.1
types-urllib3==1.26.25.13
typing_extensions==4.5.0
tzdata==2023.3
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufoLib2==0.13.1
ufw==0.36.1
unattended-upgrades==0.1
unicodedata2==14.0.0
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.5
usb-creator==0.3.7
vine==5.0.0
virtualenv==20.16.7
wadllib==1.3.6
wcwidth==0.2.5
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.0
Werkzeug==2.3.6
whitenoise==6.2.0
widgetsnbextension==4.0.7
wrapt==1.14.1
xdg==5
xkit==0.0.0
youtube-dl==2021.12.17
zipp==1.0.0
zope.interface==6.0
