{% extends 'remix/base.html'%}
{% load comment_tags%}
{% load about_tags %}
{% block title %}درباره من{% endblock title%}
{% block body %}
{% if about_me %}
<!-- Main Single bio-->
<div class="single-bio">
    <div class="container">
        <div class="box-single-bio">
            <div class="main-single-bio">
                <div class="post-single-bio">
                    <div class="post-single-bio-right">
                        <div class="post-bio-thumbnail">
                            <figure>
                                <img src="{{about_me.picture.url}}">
                            </figure>
                        </div>
                        {% if about_me.social_networks.exists %}
                            <div class="social-bio">
                            {% for social_network in about_me.social_networks.all %}
                                <a href="{{social_network.url}}"><i class="fab fa-{{social_network.social_network_name}}"></i> </a>
                            {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="post-single-bio-left">
                        <div class="post-title-bio">
                            <h1>{{about_me.name}}</h1>
                        </div>
                        <div class="content-post-bio">
                            {{about_me.description|safe}}
                        </div>
                    </div>
                </div>
                {% follow_socials %}
            </div>
            {% model_with_comment_exist about_me as exist%}
            {% if exist %}
                {% comment about_me %}
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% endblock body %}
