{% for category in track_categories %}
    {% if not category.child.active.exists and category.parent == None %}
        <li><a href="{{category.get_absolute_url}}">{{category.title}}</a></li>
    {% elif category.child.active.exists %}
    <li><a href="{{category.get_absolute_url}}">{{category.title}}</a>
        <ul class="sub-menu">
            {% for child_category in category.child.active %}
                    <li><a href="{{category.get_absolute_url}}">{{child_category.title}}</a></li>
            {% endfor %}
            </ul>
        </li>
    {% endif %}
{% endfor %}
{% for category in artist_categories %}
    {% if not category.child.exists and category.parent == None %}
        <li><a href="{{category.get_absolute_url}}">{{category.title}}</a></li>
    {% elif category.child.active  %}
        <li><a href="{{category.get_absolute_url}}">{{category.title}}</a>
            <ul class="sub-menu">
                {% for child_category in category.child.active %}
                    <li><a href="{{category.get_absolute_url}}">{{child_category.title}}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}
{% endfor %}