{% load static %}
<!-- Menu -->
<header class="menu">
    <div class="container">
        <div class="box-menu">
            <div class="menu-right">
                <div class="logo">
                    <a href="/">
                        <img src="{% static 'remix/img/logo.png' %}">
                    </a>
                </div>
            </div>
            <div id="hamberger">
                <i class="fas fa-bars"></i>
            </div>
            <nav class="navigation">
                <div class="close-nav">
                    <i class="fas fa-window-close"></i>
                </div>
                <ul>
                    <li><a href="/">صفحه اصلی</a></li>
                    {% include 'remix/navbar/categories.html' %}
                    <li><a href="/">سانگ پلاس</a>
                        <ul class="sub-menu">
                            <li><a href="{% url 'about:about-me' %}">درباره ما</a> </li>
                            <li><a href="#">تماس با ما</a> </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="menu-left">
                <ul>
                    <li><a href="/">صفحه اصلی</a></li>
                    {% include 'remix/navbar/categories.html' %}
                    <li><a href="{% url 'about:about-me' %}">درباره من</a></li>
                    <li><a href="#" id="open_contact_box">تماس با ما</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>