<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>وبسایت سانگ پلاس</title>
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="contact-us">
    <div class="contact-us-box">
        <form action="#">
            <div class="contact-head">
                <h4>تماس با ما</h4>
                <span id="close_contact">بستن</span>
            </div>
            <div class="content-contact">
                <div class="box-input">
                    <label for="username">
                        نام شما
                    </label>
                    <input type="text" id="username" class="username" placeholder="نام خود را وارد کنید">
                </div>
                <div class="box-input">
                    <label for="email">
                        ایمیل شما
                    </label>
                    <input type="email" id="email" class="username" placeholder="ایمیل خود را وارد کنید">
                </div>
                <div class="box-input">
                    <label for="email">
                        پیام شما
                    </label>
                    <textarea class="con" rows="8"></textarea>
                </div>
            </div>
            <div class="btn-contact">
                <button type="submit">ارسال</button>
            </div>
        </form>
    </div>
</div>
<!-- Top Menu -->
<div class="top-menu">
    <div class="container">
        <div class="top-menu-box">
            <div class="top-menu-right">
                <form action="#">
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                    <input type="search" class="search-top-menu" placeholder="آهنگ یا اسم خواننده مورد نظرت رو جستجو کن...">
                </form>
            </div>
            <div class="top-menu-left">
                <a href="#"><i class="fab fa-facebook"></i> </a>
                <a href="#"><i class="fab fa-twitter"></i> </a>
                <a href="#"><i class="fab fa-telegram"></i> </a>
                <a href="#"><i class="fab fa-linkedin"></i> </a>
                <a href="#"><i class="fab fa-youtube"></i> </a>
            </div>
        </div>
    </div>
</div>
<!-- Menu -->
<header class="menu">
    <div class="container">
        <div class="box-menu">
            <div class="menu-right">
                <div class="logo">
                    <a href="index.html">
                        <img src="img/logo.png">
                    </a>
                </div>
            </div>
            <div id="hamberger">
                <i class="fas fa-bars"></i>
            </div>
            <nav class="navigation">
                <div class="close-nav">
                    <i class="fas fa-window-close"></i>
                </div>
                <ul>
                    <li><a href="#">صفحه اصلی</a></li>
                    <li><a href="#">تک آهنگ ها</a></li>
                    <li><a href="#">آلبوم ها</a></li>
                    <li><a href="#">موزیک ویدیو ها</a></li>
                    <li><a href="#">هنرمندان</a>
                        <ul class="sub-menu">
                            <li><a href="#">خوانندگان پاپ</a> </li>
                            <li><a href="#">خوانندگان رپ</a> </li>
                            <li><a href="#">خوانندگان سنتی</a> </li>
                        </ul>
                    </li>
                    <li><a href="#">سانگ پلاس</a>
                        <ul class="sub-menu">
                            <li><a href="#">درباره ما</a> </li>
                            <li><a href="#">تماس با ما</a> </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="menu-left">
                <ul>
                    <li><a href="index.html">صفحه اصلی</a></li>
                    <li><a href="archive-track.html">تک آهنگ ها</a></li>
                    <li><a href="archive-album.html">آلبوم ها</a></li>
                    <li><a href="archive-video.html">موزیک ویدیو ها</a></li>
                    <li><a href="archive-bio.html">هنرمندان</a>
                        <ul class="sub-menu">
                            <li><a href="archive-bio.html">خوانندگان پاپ</a> </li>
                            <li><a href="archive-bio.html">خوانندگان رپ</a> </li>
                            <li><a href="archive-bio.html">خوانندگان سنتی</a> </li>
                        </ul>
                    </li>
                    <li><a href="#" id="open_contact_box">تماس با ما</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- Main Archive Track -->
<div class="title-archive-page">
    <h1>موزیک ویدیو ها</h1>
</div>
<div class="archive">
    <div class="container">
        <div class="box-single">
            <div class="main-single">
                <div class="post-single">
                    <div class="head-single">
                        <h1>دانلود موزیک ویدیو علی لهراسبی به نام فاصله ها</h1>
                        <a href="single-video.html">ادامه مطلب</a>
                    </div>
                    <header>
                        <div class="post-meta">
                            <i class="fas fa-clock"></i>
                            <span>13 فروردین 1400</span>
                        </div>
                        <div class="post-meta">
                            <i class="fas fa-folder-open"></i>
                            <span>دسته بندی ها :</span>
                            <a href="#"><span>تک آهنگ , ایرانی</span></a>
                        </div>
                    </header>
                    <div class="post-thumbnail">
                        <figure>
                            <img src="img/v1.jpg">
                        </figure>
                    </div>
                    <div class="content-single">
                        <p>
                            <span> دانلود موزیک ویدیو جدید</span>
                            <span style="color: #01a3a4">علی لهراسبی</span>
                            <span>به نام</span>
                            <span style="color: #01a3a4">فاصله ها</span>
                            <span>با لینک مستقیم</span>
                        </p>
                        <p>
                            <span>موزیک ویدیو جدید علی لهراسبی بنام فاصله ها با کیفیت اورجینال</span>
                        </p>
                        <p>
                            <span>Download Music Video</span>
                            <span style="color: #01a3a4">Faseleha</span>
                            <span>By</span>
                            <span style="color: #01a3a4">Ali Lohrasbi</span>
                        </p>
                    </div>
                </div>
                <div class="post-single">
                    <div class="head-single">
                        <h1>دانلود موزیک ویدیو ایوان بند به نام بانوی من</h1>
                        <a href="single-video.html">ادامه مطلب</a>
                    </div>
                    <header>
                        <div class="post-meta">
                            <i class="fas fa-clock"></i>
                            <span>13 فروردین 1400</span>
                        </div>
                        <div class="post-meta">
                            <i class="fas fa-folder-open"></i>
                            <span>دسته بندی ها :</span>
                            <a href="#"><span>تک آهنگ , ایرانی</span></a>
                        </div>
                    </header>
                    <div class="post-thumbnail">
                        <figure>
                            <img src="img/v2.jpg">
                        </figure>
                    </div>
                    <div class="content-single">
                        <p>
                            <span> دانلود موزیک ویدیو جدید</span>
                            <span style="color: #01a3a4">ایوان بند</span>
                            <span>به نام</span>
                            <span style="color: #01a3a4">بانوی من</span>
                            <span>با لینک مستقیم</span>
                        </p>
                        <p>
                            <span>موزیک ویدیو جدید ایوان بند بنام بانوی من با کیفیت اورجینال</span>
                        </p>
                        <p>
                            <span>Download Music Video</span>
                            <span style="color: #01a3a4">Banooye Man</span>
                            <span>By</span>
                            <span style="color: #01a3a4">Evan Band</span>
                        </p>
                    </div>
                </div>
                <div class="post-single">
                    <div class="head-single">
                        <h1>دانلود موزیک ویدیو علیرضا طلیسچی به نام دریا نریم</h1>
                        <a href="single-video.html">ادامه مطلب</a>
                    </div>
                    <header>
                        <div class="post-meta">
                            <i class="fas fa-clock"></i>
                            <span>13 فروردین 1400</span>
                        </div>
                        <div class="post-meta">
                            <i class="fas fa-folder-open"></i>
                            <span>دسته بندی ها :</span>
                            <a href="#"><span>تک آهنگ , ایرانی</span></a>
                        </div>
                    </header>
                    <div class="post-thumbnail">
                        <figure>
                            <img src="img/v3.jpg">
                        </figure>
                    </div>
                    <div class="content-single">
                        <p>
                            <span> دانلود موزیک ویدیو جدید</span>
                            <span style="color: #01a3a4">لیرضا طلیسچی</span>
                            <span>به نام</span>
                            <span style="color: #01a3a4">دریا نریم</span>
                            <span>با لینک مستقیم</span>
                        </p>
                        <p>
                            <span>موزیک ویدیو جدید علیرضا طلیسچی بنام دریا نریم با کیفیت اورجینال</span>
                        </p>
                        <p>
                            <span>Download Music Video</span>
                            <span style="color: #01a3a4">Darya Narim</span>
                            <span>By</span>
                            <span style="color: #01a3a4">Alireza Talischi</span>
                        </p>
                    </div>
                </div>
                <div class="post-single">
                    <div class="head-single">
                        <h1>دانلود موزیک ویدیو گروه ایهام به نام سلطان قلب من</h1>
                        <a href="single-video.html">ادامه مطلب</a>
                    </div>
                    <header>
                        <div class="post-meta">
                            <i class="fas fa-clock"></i>
                            <span>13 فروردین 1400</span>
                        </div>
                        <div class="post-meta">
                            <i class="fas fa-folder-open"></i>
                            <span>دسته بندی ها :</span>
                            <a href="#"><span>تک آهنگ , ایرانی</span></a>
                        </div>
                    </header>
                    <div class="post-thumbnail">
                        <figure>
                            <img src="img/v4.jpg">
                        </figure>
                    </div>
                    <div class="content-single">
                        <p>
                            <span> دانلود موزیک ویدیو جدید</span>
                            <span style="color: #01a3a4">گروه ایهام</span>
                            <span>به نام</span>
                            <span style="color: #01a3a4">سلطان قلب من</span>
                            <span>با لینک مستقیم</span>
                        </p>
                        <p>
                            <span>موزیک ویدیو جدید گروه ایهام بنام سلطان قلب من با کیفیت اورجینال</span>
                        </p>
                        <p>
                            <span>Download Music Video</span>
                            <span style="color: #01a3a4">Soltan Ghalbe Man</span>
                            <span>By</span>
                            <span style="color: #01a3a4">Eham Band</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="sidebar">
                <div class="single-widget">
                    <div class="tabs">
                        <div class="tabby-tab">
                            <input type="radio" id="tab-1" name="tabby-tabs" checked>
                            <label for="tab-1">جدید ترین ها</label>
                            <div class="tabby-content">
                                <ul>
                                    <li>
                                        <img src="img/saman.jpg">
                                        <a href="#">سامان جلیلی - جنون</a>
                                    </li>
                                    <li>
                                        <img src="img/b2.jpg">
                                        <a href="#">رضا پیشرو - چاقال نامه</a>
                                    </li>
                                    <li>
                                        <img src="img/b1.jpg">
                                        <a href="#">یاس - بیم</a>
                                    </li>
                                    <li>
                                        <img src="img/mehdi.jpg">
                                        <a href="#">مهدی احمدوند - ساحل</a>
                                    </li>
                                    <li>
                                        <img src="img/shayea.jpg">
                                        <a href="#">شایع - عصبانی</a>
                                    </li>
                                    <li>
                                        <img src="img/saman.jpg">
                                        <a href="#">سامان جلیلی - جنون</a>
                                    </li>
                                    <li>
                                        <img src="img/b2.jpg">
                                        <a href="#">رضا پیشرو - چاقال نامه</a>
                                    </li>
                                    <li>
                                        <img src="img/b1.jpg">
                                        <a href="#">یاس - بیم</a>
                                    </li>
                                    <li>
                                        <img src="img/mehdi.jpg">
                                        <a href="#">مهدی احمدوند - ساحل</a>
                                    </li>
                                    <li>
                                        <img src="img/shayea.jpg">
                                        <a href="#">شایع - عصبانی</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="tabby-tab">
                            <input type="radio" id="tab-2" name="tabby-tabs">
                            <label for="tab-2">پر بازدید ترین ها</label>
                            <div class="tabby-content">
                                <ul>
                                    <li>
                                        <img src="img/b1.jpg">
                                        <a href="#">یاس - بیم</a>
                                    </li>
                                    <li>
                                        <img src="img/mehdi.jpg">
                                        <a href="#">مهدی احمدوند - ساحل</a>
                                    </li>
                                    <li>
                                        <img src="img/shayea.jpg">
                                        <a href="#">شایع - عصبانی</a>
                                    </li>
                                    <li>
                                        <img src="img/b1.jpg">
                                        <a href="#">یاس - بیم</a>
                                    </li>
                                    <li>
                                        <img src="img/mehdi.jpg">
                                        <a href="#">مهدی احمدوند - ساحل</a>
                                    </li>
                                    <li>
                                        <img src="img/shayea.jpg">
                                        <a href="#">شایع - عصبانی</a>
                                    </li>
                                    <li>
                                        <img src="img/saman.jpg">
                                        <a href="#">سامان جلیلی - جنون</a>
                                    </li>
                                    <li>
                                        <img src="img/b2.jpg">
                                        <a href="#">رضا پیشرو - چاقال نامه</a>
                                    </li>
                                    <li>
                                        <img src="img/saman.jpg">
                                        <a href="#">سامان جلیلی - جنون</a>
                                    </li>
                                    <li>
                                        <img src="img/b2.jpg">
                                        <a href="#">رضا پیشرو - چاقال نامه</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-widget">
                    <h4>صفحه یوتوب ما</h4>
                    <a href="#"><img class="youtube" src="img/youtube.png"></a>
                </div>
                <div class="single-widget">
                    <h4>آخرین مقالات ها</h4>
                    <ul>
                        <li><a href="#">آهنگسازی با برنامه اف ال استیو</a></li>
                        <li><a href="#">با چه روشی باید پیانو را یاد گرفت؟</a></li>
                        <li><a href="#">بهترین گیتار های جهان چه مدلی دارند؟</a></li>
                        <li><a href="#">آهنگسازی با برنامه اف ال استیو</a></li>
                        <li><a href="#">با چه روشی باید پیانو را یاد گرفت؟</a></li>
                        <li><a href="#">بهترین گیتار های جهان چه مدلی دارند؟</a></li>
                        <li><a href="#">آهنگسازی با برنامه اف ال استیو</a></li>
                        <li><a href="#">با چه روشی باید پیانو را یاد گرفت؟</a></li>
                        <li><a href="#">بهترین گیتار های جهان چه مدلی دارند؟</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="divider">
            <div class="footer-right-head">
                <h2>سانگ +</h2>
                <span class="line"></span>
            </div>
            <div class="footer-left-head">
                <a href="#"><i class="fab fa-facebook"></i> </a>
                <a href="#"><i class="fab fa-twitter"></i> </a>
                <a href="#"><i class="fab fa-telegram"></i> </a>
                <a href="#"><i class="fab fa-linkedin"></i> </a>
                <a href="#"><i class="fab fa-youtube"></i> </a>
            </div>
        </div>
        <div class="box-footer">
            <div class="footer-right">
                <h3>درباره سانگ پلاس</h3>
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                </p>
            </div>
            <div class="footer-center">
                <h3>آخرین آهنگ ها</h3>
                <ul>
                    <li>
                        <img src="img/saman.jpg">
                        <a href="#">سامان جلیلی - جنون</a>
                    </li>
                    <li>
                        <img src="img/b2.jpg">
                        <a href="#">رضا پیشرو - چاقال نامه</a>
                    </li>
                    <li>
                        <img src="img/b1.jpg">
                        <a href="#">یاس - بیم</a>
                    </li>
                    <li>
                        <img src="img/mehdi.jpg">
                        <a href="#">مهدی احمدوند - ساحل</a>
                    </li>
                    <li>
                        <img src="img/shayea.jpg">
                        <a href="#">شایع - عصبانی</a>
                    </li>
                </ul>
            </div>
            <div class="footer-left">
                <h3>دسترسی سریع</h3>
                <ul>
                    <li><a href="#">خانه</a></li>
                    <li><a href="#">درباره ما</a></li>
                </ul>
            </div>
        </div>
        <div class="copy-right">
            <p>تمام حقوق این سایت متعلق به پیمان رزمجویی طراح این سایت می باشد</p>
        </div>
    </div>
</footer>

<script src="js/jquery-3.5.1.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>