{% load static %}
{% load tags %}
{% load about_tags %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}{% endblock title%}</title>
    <!-- Font Icons -->
    <link rel="stylesheet" href="{% static '/remix/css/all.css' %}">
    <!-- Carousel Slider -->
    <link rel="stylesheet" href="{% static '/remix/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static '/remix/css/owl.theme.default.min.css' %}">
    <!-- All Style Theme -->
    <link rel="stylesheet" href="{% static '/remix/css/style.css' %}">
</head>
<body>
<div class="contact-us">
    <div class="contact-us-box">
        <form action="{% url 'about:contact_me' %}" method="post">
            {% csrf_token %}
            <div class="contact-head">
                <h4>تماس با ما</h4>
                <span id="close_contact">بستن</span>
            </div>
            <div class="content-contact">
                <div class="box-input">
                    <label for="username">
                        نام شما
                    </label>
                    <input type="text" name="username" maxlength="20" required="" id="id_username" class="username">
                </div>
                <div class="box-input">
                    <label for="email">
                        ایمیل شما
                    </label>
                    <input type="email" name="email" maxlength="254" required="" id="id_email" class="username">
                </div>
                <div class="box-input">
                    <label for="email">
                        پیام شما
                    </label>
                    <textarea name="content" cols="40" rows="10" required="" id="id_content" class="con"></textarea>
                </div>
            </div>
            <div class="btn-contact">
                <button type="submit">ارسال</button>
            </div>
        </form>
    </div>
</div>
{% top_menue %}
{% navbar %}
{% block body%}
{% endblock body%}
{% footer %}
    <!-- jQuery -->
    <script src="{% static 'remix/js/jquery-3.5.1.min.js' %}"></script>
    <!-- Carousel Slider -->
    <script src="{% static 'remix/js/owl.carousel.min.js' %}"></script>
    <!-- Main -->
    <script src="{% static 'remix/js/main.js' %}"></script>
</body>
</html>