{% load static %}
{% load tags %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}{% endblock title%}</title>
    <!-- Font Icons -->
    <link rel="stylesheet" href="{% static '/remix/css/all.css' %}">
    <!-- Carousel Slider -->
    <link rel="stylesheet" href="{% static '/remix/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static '/remix/css/owl.theme.default.min.css' %}">
    <!-- All Style Theme -->
    <link rel="stylesheet" href="{% static '/remix/css/style.css' %}">
</head>
<body>
<div class="contact-us">remix/js/
    <div class="contact-us-box">
        <form action="#" method="post">
            <div class="contact-head">
                <h4>تماس با ما</h4>
                <span id="close_contact">بستن</span>
            </div>
            <div class="content-contact">
                <div class="box-input">
                    <label for="username">
                        نام شما
                    </label>
                    <input type="text" id="username" class="username" placeholder="نام خود را وارد کنید">
                </div>
                <div class="box-input">
                    <label for="email">
                        ایمیل شما
                    </label>
                    <input type="email" id="email" class="username" placeholder="ایمیل خود را وارد کنید">
                </div>
                <div class="box-input">
                    <label for="email">
                        پیام شما
                    </label>
                    <textarea class="con" rows="8"></textarea>
                </div>
            </div>
            <div class="btn-contact">
                <button type="submit">ارسال</button>
            </div>
        </form>
    </div>
</div>
<!-- Top Menu -->
<div class="top-menu">
    <div class="container">
        <div class="top-menu-box">
            <div class="top-menu-right">
                <form action="{% url 'music:search'%}" method="get">
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                    <input type="search" class="search-top-menu" placeholder="آهنگ یا اسم خواننده مورد نظرت رو جستجو کن..." name="q">
                </form>
            </div>
            <div class="top-menu-left">
                <a href="#"><i class="fab fa-facebook"></i> </a>
                <a href="#"><i class="fab fa-twitter"></i> </a>
                <a href="#"><i class="fab fa-telegram"></i> </a>
                <a href="#"><i class="fab fa-linkedin"></i> </a>
                <a href="#"><i class="fab fa-youtube"></i> </a>
            </div>
        </div>
    </div>
</div>
{% navbar %}
{% block body%}
{% endblock body%}
{% footer %}
    <!-- jQuery -->
    <script src="{% static 'remix/js/jquery-3.5.1.min.js' %}"></script>
    <!-- Carousel Slider -->
    <script src="{% static 'remix/js/owl.carousel.min.js' %}"></script>
    <!-- Main -->
    <script src="{% static 'remix/js/main.js' %}"></script>
</body>
</html>