
{% if links %}
<div class="followsocial">
    <div class="box-followsocial">
        {% for link in links %}
            <div class="item-social-{{link.social_network_name}}">
                <a href="{{link.url}}">
                    <span class="icon-tel">
                        <i aria-hidden="true" class="fab fa-{{link.social_network_name}}"></i>
                    </span>
                    <span class="title-tel">
                    {% if link.social_network_name == 'telegram' %}
                        کانال ما در تلگرام
                    {% elif  link.social_network_name == 'instagram' %}
                        صفحه ما در اینستاگرام
                    </span>
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}