<!-- Footer -->
<footer class="footer tag">
    <div class="container">
        <div class="divider">
            <div class="footer-right-head">
                <h3>{{website.name}}</h3>
                <span class="line"></span>
            </div>
            <div class="footer-left-head">
                {% for social_network in about_me.social_networks.all  %}
                    <a href="{{social_network.url}}"><i class="fab fa-{{social_network.social_network_name}}"></i></a>
                {% endfor %}
            </div>
        </div>
        <div class="box-footer">
            <div class="footer-right">
                <h4>درباره {{website.name}}</h4>
                <p>
                    {{website.description|safe}}
                </p>
            </div>
            <div class="footer-center">
                <h3>آخرین آهنگ ها</h3>
                <ul>
                    {% for track in tracks %}
                    <li>
                        <img src="{{track.small.url}}">
                        <a href="{{track.get_absolute_url}}">{{track.title}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="footer-left">
                <h3>دسترسی سریع</h3>
                <ul>
                    <li><a href="{% url 'music:home' %}">خانه</a></li>
                    <li><a href="{% url 'about:about_me' %}">درباره ما</a></li>
                </ul>
            </div>
        </div>
        <div class="copy-right">
            <p>تمام حقوق این سایت متعلق به {{website.name}} مالک این سایت میباشد</p>
        </div>
    </div>
</footer>
