{% extends 'remix/base.html'%}
{% block title %}وبسایت سانگ پلاس{% endblock title%}
{% block body %}
<!-- Header Slider -->
<section class="header">
    <div class="header-slider">
        <div id="header_slider" class="owl-carousel owl-theme box-header">
            {% for banner in banners %}
            <div class="item item-header">
                <img src="{{banner.picture.url}}">
                <div class="content-header-slider">
                    <h3><a href="{{banner.track.get_absolute_url}}">
                        <i class="fa fa-microphone"></i>
                        {{banner.caption}}</a></h3>
                    <a class="header-more" href="{{banner.track.get_absolute_url}}">
                        <i class="fa fa-music"></i>
                        ادامه مطلب</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Music Player -->
<div class="music-play">
    <div class="container">
        <div class="music-play-head">
            <h3>برترین ریمیکس ها</h3>
        </div>
        <div id="app-cover">
            <div id="player">
                <div id="player-track">
                    <div id="album-name"></div>
                    <div id="track-name"></div>
                    <div id="track-time">
                        <div id="current-time"></div>
                        <div id="track-length"></div>
                    </div>
                    <div id="s-area">
                        <div id="ins-time"></div>
                        <div id="s-hover"></div>
                        <div id="seek-bar"></div>
                    </div>
                </div>
                <div id="player-content">
                    <div id="album-art">
                        {% for best_track in best_tracks %}
                            <img src="{{best_track.small.url}}" class="{% if forloop.counter == 1 %}active{% endif %}" id="_{{forloop.counter}}">
                        {% endfor %}
                        <div id="buffer-box">Buffering ...</div>
                    </div>
                    <div id="player-controls">
                        <div class="control">
                            <div class="buttonn" id="play-previous">
                                <i class="fas fa-backward"></i>
                            </div>
                        </div>
                        <div class="control">
                            <div class="buttonn" id="play-pause-button">
                                <i class="fas fa-play"></i>
                            </div>
                        </div>
                        <div class="control">
                            <div class="buttonn" id="play-next">
                                <i class="fas fa-forward"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Single Track -->
<section class="main-single-track tag">
    <div class="container">
        <div class="head-single-track">
            <h3>جدیدترین ریمیکس ها</h3>
            <a href="{% url 'music:tracks_of_category' 'all_remix' %} "> ریمیکس ها
            <i class="fas fa-angle-double-left"></i>
            </a>
        </div>
        <div class="box-single-track">
            {% for remix in remixes %}
            <div class="single-track">
                <a href="{{remix.get_absolute_url}}">
                <div class="single-pic">
                    <img src="{{remix.thumbnail.url}}">
                </div></a>
                <div class="content-single-track">
                    <div class="title-single-track">
                        <a href="{{remix.get_absolute_url}}"><h4>{{remix.title}}</h4></a>
                        <h6>{{remix.finglish_title}}</h6>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Main Ads -->
<div class="ads tag">
    <div class="container">
        <div class="box-ads">
        {% for banner in banners|slice:":2" %}
            <div class="item-ads">
                <a href="{{banner.track.get_absolute_url}}"><img src="{{banner.picture.url}}"> </a>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
<!-- Main Podcast -->
<section class="main-album tag">
    <div class="container">
        <div class="head-album">
            <h3>جدید ترین پادکست ها</h3>
            <a href="{% url 'music:tracks_of_category' 'all_podcast' %}"> پادکست ها
                <i class="fas fa-angle-double-left"></i>
            </a>
        </div>
        <div class="box-album-track">
            {% for podcast in podcasts %}
            <div class="album-track">
                <a href="{{podcast.get_absolute_url}}">
                    <div class="album-pic">
                        <img src="{{podcast.thumbnail.url}}">
                    </div></a>
                <div class="content-album-track">
                    <div class="title-album-track">
                        <a href="{{podcast.get_absolute_url}}"><h4>{{podcast.title}}</h4></a>
                        <h6>{{podcast.finglish_title}}</h6>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Main Ads -->
<div class="ads tag">
    <div class="container">
        <div class="box-ads">
        {% for banner in banners|slice:"2:3" %}
            <div class="item-ads">
                <a href="{{banner.track.get_absolute_url}}"><img src="{{banner.picture.url}}"> </a>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
<!-- Main Bio -->
<section class="bio tag">
    <div class="container">
        <div class="head-bio">
            <h3>بیوگرافی از خوانندگان</h3>
            <a href="{% url 'music:artists_of_category' 'all_artists' %}">  موارد بیشتر
                <i class="fas fa-angle-double-left"></i>
            </a>
        </div>
        <div class="box-bio">
            {% for artist in artists %}
            <div class="bio-item">
                <a href="{{artist.get_absolute_url}}">
                    <div class="bio-pic">
                        <img src="{{artist.picture.url}}">
                    </div></a>
                <div class="title-artist-bio">
                    <span>{{artist.name}}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<script>
        const trackUrl = JSON.parse('{{best_tracks_urls|safe}}');
</script>
{% endblock body%}