<!-- Top Menu -->
<div class="top-menu">
    <div class="container">
        <div class="top-menu-box">
            <div class="top-menu-right">
                <form action="{% url 'music:search'%}" method="get">
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                    <input type="search" class="search-top-menu" placeholder="آهنگ یا اسم خواننده مورد نظرت رو جستجو کن..." name="q">
                </form>
            </div>
            <div class="top-menu-left">
                {% for social_network in about_me.social_networks.all %}
                        <a href="{{social_network.url}}"><i class="fab fa-{{social_network.social_network_name}}"></i> </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>