
{% extends 'remix/base.html'%}
{% load comment_tags %}
{% load tags %}
{% load about_tags %}
{% block title %}{{track.title}}{% endblock title%}

{% block body %}
<!-- Main Single -->
<div class="single">
    <div class="container">
        <div class="box-single">
            <div class="main-single">
                <div class="post-single">
                    <div class="head-single">
                        <h1>{{track.title}}</h1>
                        <a href="{{track.category.get_absolute_url}}">{{track.category}}</a>
                    </div>
                    <header>
                        <div class="post-meta">
                            <i class="fas fa-clock"></i>
                            <span>{{track.created|convert_to_jalali}}</span>
                        </div>
                        <div class="post-meta">
                            <i class="fas fa-comment"></i>
                            <span>{{track|comments_count}} نظر</span>
                        </div>
                        <div class="post-meta">
                            <i class="fas fa-eye"></i>
                            <span>{{track.visits}} بازدید</span> 
                        </div>
                    </header>
                    <div class="post-thumbnail">
                        <figure>
                            <img src="{{track.cover.url}}">
                        </figure>
                    </div>
                    <div class="content-single">
                        {{track.description|safe}}
                    </div>
                </div>
                {% if track.lyrics %}
                <div class="lyric">
                    <div class="head-lyric">
                        <h2>متن آهنگ</h2>
                    </div>
                    <div class="content-lyric">
                        <p>
                            {{track.lyrics|safe}}
                        </p>
                    </div>
                </div>
                {% endif %}
                <div class="post-single-dl">
                    <div class="head-dl">
                        <h2>جعبه دانلود</h2>
                    </div>
                    <div class="dlbox">
                        {% for track_file in track.track_files.all %}
                            <a href="{{track_file.track_file.url}}" download>
                                <i class="fas fa-download"></i>
                                <span>{{track_file.caption}}</span>
                            </a>
                        {% endfor %}
                        {% for track_org_link in track.original_link_tracks.all %}
                            <a target="_blank" class="{{track_org_link.music_platform_name}}" href="{{track_org_link.music_link}}">
                                <i class="fa fa-music"></i>
                                <span>{{track_org_link.get_music_platform_name_display}}</span>                        
                            </a>
                        {% endfor %}
                    </div>
                    {% for online_track in track.listen_online %}
                        <p>{{online_track.online_catpion}}</p>
                        <audio controls >
                            <source src="{{online_track.track_file.url}}" type="audio/mpeg">
                        </audio>
                    {% endfor %}
                </div>
                {% follow_socials%}
                {% if related_tracks %}
                <div class="related-post">
                    <div class="related-head">
                        <h2>آهنگ های مرتبط</h2>
                    </div>
                    <div class="related-slider">
                        <div id="related_slider" class="owl-carousel owl-theme">
                            {% for related_track in related_tracks %}
                                <div class="item item-related">
                                    <a href="{{related_track.get_absolute_url}}">
                                        <div class="single-pic">
                                            <img src="{{related_track.thumbnail.url}}">
                                        </div></a>
                                    <div class="content-single-track">
                                        <div class="title-single-track">
                                            <a href="#"><h4>{{related_track.title}}</h4></a>
                                            <h6>{{related_track.finglish_title}}</h6>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% model_with_comment_exist track as exist%}
                {% if exist %}
                    {% comment track %}
                {% endif %}
            </div>
            {% sidbar %}
        </div>
    </div>
</div>
{% endblock body %}
