{% extends 'remix/base.html'%}
{% load tags %}
{% block title %}{{website.name}}{% endblock title%}
{% block body %}
<!-- Header Slider -->
<section class="header">
    <div class="header-slider">
        <div id="header_slider" class="owl-carousel owl-theme box-header">
            {% for banner in banners %}
            <div class="item item-header">
                <img src="{{banner.picture.url}}">
                <div class="content-header-slider">
                    <h3><a href="{{banner.track.get_absolute_url}}">
                        <i class="fa fa-microphone"></i>
                        {{banner.caption}}</a></h3>
                    <a class="header-more" href="{{banner.track.get_absolute_url}}">
                        <i class="fa fa-music"></i>
                        ادامه مطلب</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% if best_tracks %}
<!-- Music Player -->
<div class="music-play">
    <div class="container">
        <div class="music-play-head">
            <h3>برترین موزیک ها</h3>
        </div>
        <div id="app-cover">
            <div id="player">
                <div id="player-track">
                    <div id="album-name"></div>
                    <div id="track-name"></div>
                    <div id="track-time">
                        <div id="current-time"></div>
                        <div id="track-length"></div>
                    </div>
                    <div id="s-area">
                        <div id="ins-time"></div>
                        <div id="s-hover"></div>
                        <div id="seek-bar"></div>
                    </div>
                </div>
                <div id="player-content">
                    <div id="album-art">
                        {% for best_track in best_tracks %}
                            <img src="{{best_track.small.url}}" class="{% if forloop.counter == 1 %}active{% endif %}" id="_{{forloop.counter}}">
                        {% endfor %}
                        <div id="buffer-box">Buffering ...</div>
                    </div>
                    <div id="player-controls">
                        <div class="control">
                            <div class="buttonn" id="play-previous">
                                <i class="fas fa-backward"></i>
                            </div>
                        </div>
                        <div class="control">
                            <div class="buttonn" id="play-pause-button">
                                <i class="fas fa-play"></i>
                            </div>
                        </div>
                        <div class="control">
                            <div class="buttonn" id="play-next">
                                <i class="fas fa-forward"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- Main Single Content -->
{% for content in contents|slice:":1" %}
    <section class="main-single-track tag">
        <div class="container">
            <div class="head-single-track">
                <h3>{{content.title}}</h3>
                <a href="{{content.category.get_absolute_url}} "> بیشتر
                    <i class="fas fa-angle-double-left"></i>
                </a>
            </div>
            {% call_method content.category content.filter_base as tracks_result %}
            <div class="box-single-track">
                {% for track in tracks_result %}
                <div class="single-track">
                    <a href="{{track.get_absolute_url}}">
                    <div class="single-pic">
                        <img src="{{track.thumbnail.url}}">
                    </div></a>
                    <div class="content-single-track">
                        <div class="title-single-track">
                            <a href="{{track.get_absolute_url}}"><h4>{{track.title}}</h4></a>
                            <h6>{{track.finglish_title}}</h6>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endfor %}
{% if banners.exists %}
<!-- Main Ads -->
<div class="ads tag">
    <div class="container">
        <div class="box-ads">
        {% for banner in banners|slice:":2" %}
            <div class="item-ads">
                <a href="{{banner.track.get_absolute_url}}"><img src="{{banner.picture.url}}"> </a>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endif %}
<!-- Main Other Content -->
{% for content in contents|slice:"1:" %}
    <section class="main-single-track tag">
        <div class="container">
            <div class="head-single-track">
                <h3>{{content.title}}</h3>
                <a href="{{content.category.get_absolute_url}} "> بیشتر
                    <i class="fas fa-angle-double-left"></i>
                </a>
            </div>
            <div class="box-single-track">
                {% call_method content.category content.filter_base as tracks_result %}
                {% for track in tracks_result %}
                <div class="single-track">
                    <a href="{{track.get_absolute_url}}">
                    <div class="single-pic">
                        <img src="{{track.thumbnail.url}}">
                    </div></a>
                    <div class="content-single-track">
                        <div class="title-single-track">
                            <a href="{{track.get_absolute_url}}"><h4>{{track.title}}</h4></a>
                            <h6>{{track.finglish_title}}</h6>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endfor %}
{% if banners.exists %}
<!-- Main Ads -->
<div class="ads tag">
    <div class="container">
        <div class="box-ads">
        {% for banner in banners|slice:"2:3" %}
            <div class="item-ads">
                <a href="{{banner.track.get_absolute_url}}"><img src="{{banner.picture.url}}"> </a>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% if artists %}
<!-- Main Artists -->
<section class="bio tag">
    <div class="container">
        <div class="head-bio">
            <h3>بیوگرافی از خوانندگان</h3>
            <a href="{% url 'artist:artists_of_category' 'all_artists' %}">  موارد بیشتر
                <i class="fas fa-angle-double-left"></i>
            </a>
        </div>
        <div class="box-bio">
            {% for artist in artists %}
            <div class="bio-item">
                <a href="{{artist.get_absolute_url}}">
                    <div class="bio-pic">
                        <img src="{{artist.thumbnail.url}}">
                    </div></a>
                <div class="title-artist-bio">
                    <span>{{artist.name}}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
<script type="text/javascript">
    var trackUrl = {{trackUrl|safe}};
    var albums = {{ albums|safe }};
    var trackNames = {{ trackNames|safe }};
    var albumArtworks = {{ albumArtworks|safe }};
</script>
{% endblock body%}



