{% extends 'remix/base.html'%}
{% load comment_tags%}
{% load about_tags %}
{% block title %}بیوگرافی {{artist.name}} {% endblock title%}
{% block body %}
<!-- Main Single bio-->
<div class="single-bio">
    <div class="container">
        <div class="box-single-bio">
            <div class="main-single-bio">
                <div class="post-single-bio">
                    <div class="post-single-bio-right">
                        <div class="post-bio-thumbnail">
                            <figure>
                                <img src="{{artist.cover.url}}">
                            </figure>
                        </div>
                        <div class="social-bio">
                        {% for social_network in artist.social_networks.all %}
                            <a href="{{social_network.url}}"><i class="fab fa-{{social_network.social_network_name}}"></i> </a>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="post-single-bio-left">
                        <div class="post-title-bio">
                            <h1>{{artist.name}}</h1>
                        </div>
                        <div class="content-post-bio">
                            {{artist.decription|safe}}
                        </div>
                    </div>
                </div>
                {% follow_socials %}
                {% if related_tracks %}
                    <div class="related-post">
                        <div class="related-head">
                            <h2>ریمیکس های هنرمند</h2>
                        </div>
                        <div class="related-slider">
                            <div id="related_slider" class="owl-carousel owl-theme">
                                {% for related_track in related_tracks %}
                                    <div class="item item-related">
                                        <a href="{{related_track.get_absolute_url}}">
                                            <div class="single-pic">
                                                <img src="{{related_track.thumbnail.url}}">
                                            </div></a>
                                        <div class="content-single-track">
                                            <div class="title-single-track">
                                                <a href="#"><h4>{{related_track.title}}</h4></a>
                                                <h6>{{related_track.finglish_title}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% model_with_comment_exist artist as exist%}
            {% if exist %}
                {% comment artist %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock body %}
