{% extends 'remix/base.html'%}
{% load tags %}
{% block title %}هنرمندان{% endblock title%}
{% block body %}
<!-- Main Archive Track -->
<div class="archive">
    <div class="container">
        <div class="box-single">
            <div class="main-single box-bio-archive">
                {% for artist in artists %}
                    <div class="bio-item bio-item-archive">
                        <a href="{{artist.get_absolute_url}}">
                            <div class="bio-pic">
                                <img src="{{artist.cover.url}}">
                            </div></a>
                        <div class="title-artist-bio">
                            <span>{{artist.name}}</span>
                        </div>
                    </div>
                {% empty %}
                    {% include 'remix/site_control/not-found.html' %}
                {% endfor %}
                {% include 'remix/site_control/pagination.html' %}
            </div>
        {% sidbar %}
        </div>
    </div>
</div>
{% endblock body %}