{% load static %}
{% load comment_tags %}
{% load tags %}
<div class="comment-box">
    <div class="head-comment">
        <h2>نظرات شما</h2>
    </div>
    <div class="content-cm">
        <ul class="comment-section">
            {% if not comments%}
            <p>هیچ پیامی وجود ندارد</p>
            {% endif %}
            {% for comment in comments %}
                <li class="comment user-comment">
                    <div class="info">
                        <a>{{comment.username}}</a>
                        <span>{{comment.created|convert_to_jalali}}</span>
                    </div>
                    <a class="avatar" href="#">
                        <img src="{% static 'remix/img/avatar_user_1.jpg' %}" width="35" alt="Profile Avatar" title="{{comment.username}}" />
                    </a>
                    <p>{{comment.content}}</p>
                </li>
                {% if comment.replies.exists %}
                    {% for reply in comment.replies.all %}
                    <li class="comment author-comment">
                        <div class="info">
                            <a>{{reply.username}}</a>
                            <span>{{reply.created|convert_to_jalali}}</span>
                        </div>
                        <a class="avatar" href="#">
                            <img src="{% static 'remix/img/avatar_author.jpg' %}" width="35" alt="Profile Avatar" title="{{reply.username}}" />
                        </a>
                        <p>{{reply.answer}}</p>
                    </li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            <li class="write-new">
                <form action="{% comment_target object %}" method="post">
                    {% csrf_token %}
                    <div class="box-input">
                        <label for="id_username">
                            نام شما
                        </label>
                        <input type="text" name="username" maxlength="50" required="" id="id_username" class="username">
                    </div>
                    <div class="box-input">
                        <label for="id_email">
                            ایمیل شما
                        </label>
                        <input type="email" name="email" required="" id="id_email" class="username">
                    </div>
                    <div class="box-input">
                        <label for="id_content">
                            پیام شما
                        </label>
                        <textarea name="content" cols="20" rows="5" required="" id="id_content" class="con"></textarea>
                    </div>
                    <div>
                        <button type="submit">ارسال</button>
                    </div>
                </form>
                {% if success_massage %}
                <div>
                    <p style="text-align: center;color: green;">ارسال موفقیت آمیز بود</p>
                </div>
                {% endif %}
            </li>
        </ul>
    </div>
</div>