{% load static %}
{% load tags %}
<div class="sidebar">
    {% if static_sidbars %}
    <div class="single-widget">
        <div class="tabs">
            {% for static_sidbar in static_sidbars %}
                <div class="tabby-tab">
                    <input type="radio" id="tab-{{forloop.counter}}" name="tabby-tabs" {% if forloop.counter == 1 %} checked {% endif %}>
                    <label for="tab-{{forloop.counter}}">{{static_sidbar.title}}</label>
                    <div class="tabby-content">
                        <ul>
                            {% call_method static_sidbar.category static_sidbar.filter_base as tracks_result %}
                            {% for track in tracks_result|slice:":10" %}
                                <li>
                                    <img src="{{track.thumbnail.url}}">
                                    <a href="{{track.get_absolute_url}}">{{track.title}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if dynamic_sidbars %}
        {% for sidbar in dynamic_sidbars %}
            <div class="single-widget">
                <h4>{{sidbar.title}}</h4>
                <ul>
                    {% call_method sidbar.category sidbar.filter_base as tracks_result %}
                    {% for track in tracks_result|slice:":5" %}
                    <li>
                        <img width="480" height="480" src="{{track.thumbnail.url}}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" loading="lazy">                        
                        <div class="custom_widget">
                            <a href="{% url 'music:track_detail' track.slug %}">{{track.artist.first}} - {{track.title}}</a>
                            <p>تعداد بازدید:{{track.visits}}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {%endfor %}
    {% endif %}
</div>